<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}
        First name: <input type = "text" name = "first_name" placeholder="First Name"/>
        <br>
        Last name: <input type = "text" name = "last_name" placeholder="Last Name"/>
        <br>
        User name: <input type = "text" name = "username" placeholder="User Name"/>
        <br>
        Email: <input type = "email" name = "email" placeholder="Email"/>
        <br>
        Password: <input type = "password" name = "password1" placeholder="Password"/>
        <br>
        Confirm Password: <input type = "password" name = "password2" placeholder="Confirm Password"/>
        <br>
        <input type = "Submit"/>
        <br>

     </form>
</body>
</html>